@font-face{
    font-family: Leyton;
    src: url(../LeytonPersonal-Bold.otf);
}

#content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer";
}


body{
    margin: 0;
    background-color: rgba(0, 0, 0, .2);
}

/* Header area start */
header{
    grid-area: header;
    background-image: url("../img/MT-03edit.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
}

nav{
    display:flex;
    background-color:cadetblue;
    height: 70px;
    grid-area: nav;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

#pageTitle{
    display: block;
    color: black;
    text-align: left;
    margin: 0;
}

.menuBtn{
    display: block;
    width: 100vh;
    border: none;
    cursor: pointer;
    font-size: 20pt;
    text-align: center;
}

.line{
    background-color:black;
    height:auto;
    width: 15px;
}

button{
    width: fit-content;
    background: none;
    border: none;
    font-family: Leyton;
}

button:hover{
    background-color: rgba(0, 0, 0, .5);
}
/* Header area end */

/* Aside area begins */
aside{
    display: flex;
    grid-area: aside;
    justify-content: center;
}

table{
    margin: 0;
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    text-align: left;
    width: 60%;
    height:fit-content;
}
table > thead{
    background-color:cadetblue;
}

th, td{
    padding: 10px;
}

tbody tr:nth-child(odd){
    background-color: lightcyan;
}

tbody tr:nth-child(even){
    background-color:azure;
}
/* Aside area ends */

/* Main area begins */
main{
    grid-area: main;
    margin-left: 5px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}

#pageTitle{
    font-size: 26pt;
    text-decoration: underline;
}

h2{
    font-size: 26pt;
    text-decoration: underline;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    width: fit-content;
    margin: auto;
  }
  
  figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

  .difficultySection, .powerSection, .styleSection, .reliableSection, .priceSection{
    display: flex;
    margin: 10px;
  }

   .difficultySection > section, .powerSection > section, .styleSection > section, .reliableSection > section, .priceSection > section{
    flex: 1;
    order: 1;
  }

  .difficultySection > figure, .powerSection > figure, .styleSection > figure, .reliableSection > figure, .priceSection > figure{
    flex: 1;
    order: 2;
    width: max-content;
  } 
/* Main area ends */


footer{
    grid-area: footer;
    background-color: black;
}

.show{
    display: flexbox;
}

.hide{
    display: none;
}

form {
    width: 1500px;
  }
  
  .errorMsg {
    color: red;
  }
  /*only show error information when 'was-validated' class is added to the input*/
  input.was-validated:invalid {
    color: red;
    border: 1px solid red;
  }
  
  input.was-validated:invalid ~ div {
    display: block;
  }
  /* hide all error divs 
  ~ is the general sibling selector and selects 'div' siblings of the input*/
  input:valid ~ div {
    display: none;
  }
  
  input:invalid ~ div {
    display: none;
  }
  
  .container {
    width: 80%;
    max-width: auto;
    margin: 0;
    background-color: #f2f2f2;
    /* text-align: left; */
  }
  
  .container * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .container h1{
    font-size: 32pt;
    margin: 0;
    padding-left: 40px;
  }

  .container h2{
    font-size: 18pt;
    margin-bottom: 0;
  }

  .successMsg{
    font-size: 44pt;
    text-align: center;
    color: green;
    padding: 100px;
    background-color: bisque;
  }

  .flex {
    list-style-type: none;
    padding: 40px;
    padding-top: 20px;
    max-width: 750px;
    margin: 0;
  }
  
  .flex li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-start;
  }
  
  .flex li li input,
  .flex li textarea {
    padding: 15px;
    font: normal 16px/1.5 sans-serif;
  }
  
  /* submit button */
  .flex button {
    width: fit-content;
    margin: 0;
    /* padding: 22px 46px; */
    font: normal 22px/1.5 sans-serif;
    border: none;
    background: cadetblue;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 4px;
  }
  
  .flex > li {
    margin-bottom: 20px;
  }
  
  .flex > li > label {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 140px;
            flex: 1 0 140px;
    max-width: 120px;
  }
  
  .flex > li + * {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
  }
  
  .flex > input[type='radio'] ~ div.errorMsg,
  .flex > input[type='checkbox'] ~ div.errorMsg {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 350px;
            flex: 1 0 350px;
    text-align: right;
  }

  input{
    margin-right: 5px;
  }

  /* Mobile view */

@media screen and (max-width: 768px){
    #content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "aside aside aside aside"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
    }
    
    .difficultySection, .powerSection, .styleSection, .reliableSection, .priceSection{
        flex-direction: column;
      }
      .difficultySection > section, .powerSection > section, .styleSection > section, .reliableSection > section, .priceSection > section{
        flex: 1;
        order: 1;
      }
    
      .difficultySection > figure, .powerSection > figure, .styleSection > figure, .reliableSection > figure, .priceSection > figure{
        flex: 1;
        order: 2;
        max-width: 100%;
      } 
    nav{
        height: 25px;
        font-size: 50%;
    }
    header{
        background-size: 60vh;
        height: 100%;
    }
    button{
        width: 25vh;
        font-size: 8pt;
    }
    .menuBtn{
        font-size: 8pt;
        text-align: center;
    }
    table{
        border: 0;
        font-size: 8pt;
        width: 100vh;
    }
    #pageTitle{
        font-size: 13pt;
    }
    h2{
        font-size: 13pt;
    }
    p{
        font-size: 10pt;
    }
}
