@font-face{
    font-family: Leyton;
    src: url(../LeytonPersonal-Bold.otf);
}

#content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer";
}

@media only screen and (max-width: 600px){
    #content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "aside aside aside aside"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
    }
}

body{
    margin: 0;
}

/* Header area start */
header{
    grid-area: header;
    background-image: url("../img/MT-03edit.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
}

nav{
    display:flex;
    background-color:cadetblue;
    height: 70px;
    grid-area: nav;
}

img{
    max-width: 100%;
    height: auto;
}

#pageTitle{
    display: block;
    color: black;
    text-align: center;
    margin: 0;
}

.menuBtn{
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 20pt;
    text-align: center;
}

.line{
    background-color:black;
    height:auto;
    width: 15px;
    /* margin-top: 3px;
    margin-bottom: 3px; */
}

button{
    width: fit-content;
    background: none;
    border: none;
    font-family: Leyton;
}

button:hover{
    background-color: rgba(0, 0, 0, .5);
}
/* Header area end */

/* Aside area begins */
aside{
    display: flex;
    grid-area: aside;
    justify-content: center;
}

table{
    margin: 0;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: left;
    width: 60%;
    height:fit-content;
}
table > thead{
    background-color:cadetblue;
}

th, td{
    padding: 10px;
}

tbody tr:nth-child(odd){
    background-color: lightcyan;
}

tbody tr:nth-child(even){
    background-color:azure;
}
/* Aside area ends */

/* Main area begins */
main{
    grid-area: main;
    margin-left: 5px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}

#pageTitle{
    font-size: 26pt;
    text-decoration: underline;
}

h2{
    font-size: 26pt;
    text-decoration: underline;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    width: fit-content;
    margin: auto;
  }
  
  figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

  .difficultySection, .powerSection, .styleSection, .reliableSection, .priceSection{
    display: flex;
    margin: 10px;
  }

   .difficultySection > section, .powerSection > section, .styleSection > section, .reliableSection > section, .priceSection > section{
    flex: 1;
    order: 1;
  }

  .difficultySection > figure, .powerSection > figure, .styleSection > figure, .reliableSection > figure, .priceSection > figure{
    flex: 1;
    order: 2;
    width: max-content;
  } 
/* Main area ends */


footer{
    grid-area: footer;
}

.show{
    display: flexbox;
}

.hide{
    display: none;
}