#content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "main main main main"
    "footer footer footer footer" ;
}

@media screen and (max-width: 600px){
    #content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        "header header header header"
        "footer footer footer footer" 
        "nav nav nav nav"
        "main main main main"
        "main main main main"
        "main main main main";
    }
}

body{
    margin: 0;
}

/* Header area start */

header{
    grid-area: header;
    background-image: url("../img/MT-03shrunk.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
}


nav{
    display:flex;
    grid-area: nav;
}

img{
    max-width: 100%;
    height: auto;
}

#pageTitle{
    display: block;
    color: black;
    text-align: center;
    margin: 0;
}

.menuBtn{
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: large;
    text-align: center;
}

button{
    width: fit-content;
    background: none;
    border: none;
}

button:hover{
    background-color: rgba(0, 0, 0, .5);
}

/* Header area end */

main{
    grid-area: main;
    background-color: brown;
}

footer{
    grid-area: footer;
    background-color: chartreuse;
}

.show{
    display: block;
}

.hide{
    display: none;
}