@font-face{
    font-family: Bugaki;
    src: url(../Procerus_Regular.ttf);
}

body {
    background-image: url('../background.jpg');
    background-attachment: fixed;
    font-family: Arial;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 60px;
    /* text-align: justify; */
}

table {
    border: 5px solid black;
    border-spacing: 3px;
    background-color: aliceblue;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    /* padding-bottom: 30px; */
}

tbody{
    text-align: left;
    vertical-align: text-top;
}

thead{
    text-align: center;
    vertical-align: text-bottom;
}

th{
    background-color: gray;
}

td,th {
    padding: 3px;
    width: 100px;
    border: 1px solid;
}

tr:nth-child(odd){
    background-color: lightgray;
}

.work{
    background-color: lightblue;
}

.cs3260{
    background-color: lightgreen;
}

.rehearsal{
    background-color: lightyellow;
}

.homework{
    background-color: lightsalmon;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p{
    text-indent: 1.5%;
    margin-bottom: 9px;
}

.myName{
    padding-top: 20px;
    font-size: 30pt;
    text-decoration: underline;
    margin-top: 0;
}

img{
    margin: 10px;
    padding: 0px;
    border: 6px solid white;
    float: right;
}

h1 ,h2{
    font-family: Bugaki;
}

h2{
    margin-bottom: 3px;
    margin-top: 16.5px;
}

/* .outerDiv{
    padding: 30px;
} */

.innerDiv{
    background-color: rgb(248, 238, 228);
    position: relative;
    padding-left: 15px;
    width: 60%;
    left: 20%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 60%);
    padding-bottom: 30px;
}

.tableDiv{
    position: relative;
    text-align: center;
    margin: 0;
    right: 7.5px;
}
