body {
    background-image: url('../background.jpg');
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    /* text-align: justify; */
}

table {
    border: 5px solid black;
    border-spacing: 3px;
    background-color: aliceblue;
}

thead, tbody{
    text-align: left;
    vertical-align: text-top;
}

th{
    background-color: gray;
}

td,th {
    padding: 3px;
    width: 100px;
    border: 1px solid;
}

tr:nth-child(odd){
    background-color: lightgray;
}

.work{
    background-color: lightblue;
}

.cs3260{
    background-color: lightgreen;
}

.rehearsal{
    background-color: lightyellow;
}

.homework{
    background-color: lightsalmon;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p{
    text-indent: 1.5%;
    margin-bottom: 9px;
}

.myName{
    padding-top: 20px;
    font-size: 30pt;
    text-decoration: underline;
    margin-top: 0;
}

img{
    margin: 10px;
    padding: 0px;
    border: 6px solid white;
    float: right;
}

h2{
    margin-top: 24px;
    margin-bottom: 34px;
}

.innerDiv{
    border-top: 0;
    background-color: rgb(248, 238, 228);
    position: relative;
    padding-left: 15px;
    width: 50%;
    left: 25%;
}
